img {
    width: 100%;
}

header {
    text-align: center;
    width: 80%; 
    text-align: center; 
    margin: 0 auto; 
    border-radius: 5px;
    h1 {
        font-size: 5rem; 
        letter-spacing: 2px; 
        text-transform: uppercase;
        padding: 20px 20px 0px 20px;
    }
    p {
        font-size: 2rem; 
        margin: 0 auto; 
        width: 90%; 
        padding-bottom: 15px;
    }
}

p {
    letter-spacing: 1px;
}

.formSection {
    display: flex; 
    flex-wrap: wrap; 
    border-radius: 5px;
    margin: 0 auto;
    width: 80%; 
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
    form {
        margin: 0 auto;
        text-align: center; 
        font-size: 2rem;
        select {
            border: none; 
            text-align: center; 
            padding: 1px 5px;
            background-color: transparent;  
        }
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding-left: 0;

    li {
        font-size: 2rem;
        width: calc(25% - 45px);
        min-width: 245px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        padding: 20px 20px 0px 20px;
        border-radius: 5px; 

        .titleContainer {
            height: 12%;
            margin-bottom: 20px;
        }

        .posterContainer {
            max-width: 180px;
        }
    }
}

footer {
    text-align: center; 
    font-size: 2rem; 
    padding: 5px 0px; 
    p {
        margin: 0;
    }
}

.action {
    background-image: url(../assets/actionBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Anton', sans-serif;
    header {
        background-color: #FBF4E9;
        box-shadow: 5px 5px 10px black;
    }

    li {
        background-color: #FBF4E9;
        box-shadow: 5px 5px 10px black;
    }

    .formSection {
        background-color: #FBF4E9;
        box-shadow: 5px 5px 10px black;
    }
    
    footer {
        background-color: #FBF4E9;
        a {
            color: black;
        }
    }
}

.horror {
    background-image: url(../assets/horrorBackground.jpg);
    background-size: contain;
    background-position: center;
    font-family: 'Piedra', cursive;
    header {
        background-color: #333333;
        box-shadow: 5px 5px 10px #E3E3E3;
        color: #E3E3E3; 
    }

    li {
        background-color: #333333;
        box-shadow: 5px 5px 10px #E3E3E3;
        color: #E3E3E3; 
    }

    .formSection {
        background-color: #333333;
        box-shadow: 5px 5px 10px #E3E3E3;
        color: #E3E3E3; 
        select {
            color:  #E3E3E3;
        }
    }
    
    footer {
        background-color: #333333;
        color: #E3E3E3;
        a {
            color: #E3E3E3;
        }
    }
}

.comedy {
    background-image: url(../assets/comedyBackground.jpg);
    background-size: contain;
    background-position: center;
    font-family: 'Paytone One', sans-serif;
    header {
        background-color: #105F7E;
        box-shadow: 5px 5px 10px#FFE91F;
        color: #FFE91F; 
    }

    li {
        background-color: #105F7E;
        box-shadow: 5px 5px 10px #FFE91F;
        color: #FFE91F; 
    }

    .formSection {
        background-color: #105F7E;
        box-shadow: 5px 5px 10px #FFE91F;
        color: #FFE91F; 
        select {
            color:  #FFE91F;
        }
    }
    
    footer {
        background-color: #105F7E;
        color: #FFE91F;
        a {
            color: #FFE91F;
        }
    }
}

.sciFi {
    background-image: url(../assets/sciFiBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Righteous', cursive;
    // color: #5dbcd2;
}

.romance {
    background-image: url(../assets/romanceBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;

    // .gallery {
    //     p {
    //         color: #342838;
    //     }

    //     li {
    //         background-color: #FE8DE0;
    //     }
    // }
}

// font-family: 'Anton', sans-serif;
// font-family: 'Paytone One', sans-serif;
// font-family: 'Piedra', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Righteous', cursive;
// #726E97