img {
    width: 100%;
}

header {
    text-align: center;
}

.formSection {
    form {
        width: 200px;
        margin: 0 auto;

    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding-left: 0;


    li {
        font-size: 1.5rem;
        width: calc(25% - 25px);
        min-width: 200px;
    }
}